.our-expertise-in {
  flex: 1;
  position: relative;
  line-height: 48px;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
}
.expertise-title-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-50xl) 0 var(--padding-52xl);
  box-sizing: border-box;
  max-width: 100%;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 100%;
}
.weather-534564-2-icon {
  position: absolute;
  top: 31px;
  left: 31.5px;
  width: 128px;
  height: 128px;
  object-fit: contain;
  z-index: 1;
}
.icon-container {
  height: 190px;
  flex: 1;
  position: relative;
}
.icon1 {
  width: 190px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 100%;
}
.mass-9984040-2-icon {
  position: absolute;
  top: 31px;
  left: 31px;
  width: 128px;
  height: 128px;
  object-fit: contain;
  z-index: 1;
}
.ellipse-parent {
  height: 190px;
  flex: 1;
  position: relative;
}
.expertise-icons,
.icon2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.icon2 {
  width: 190px;
  justify-content: flex-start;
}
.expertise-icons {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.expertise-title-wrapper-parent {
  width: 847.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-81xl);
  max-width: 100%;
}
.content-wrapper-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.effective-ctas,
.see-how-our {
  align-self: stretch;
  position: relative;
  line-height: 48px;
}
.see-how-our {
  line-height: 36px;
  font-family: var(--body300-rg);
  color: var(--color-darkslategray-100);
}
.cta-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 406px;
  max-width: 100%;
}
.conversion-optimized-landing-p,
.explore-a-case {
  align-self: stretch;
  position: relative;
  line-height: 48px;
}
.explore-a-case {
  line-height: 36px;
  font-family: var(--body300-rg);
  color: var(--color-darkslategray-100);
}
.cta-content1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 406px;
  max-width: 100%;
}
.expertise-example {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-16xl);
  font-size: var(--h300-bold-size);
}
.content-wrapper-wrapper,
.content-wrapper2,
.expertise-example {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.content-wrapper2 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.content-wrapper-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-61xl) var(--padding-21xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--h400-bold-size);
  color: var(--color-gray-400);
  font-family: var(--h300-bold);
}
@media screen and (max-width: 1050px) {
  .our-expertise-in {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .expertise-title-wrapper {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .expertise-title-wrapper-parent {
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 750px) {
  .expertise-icons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cta-content,
  .cta-content1 {
    min-width: 100%;
  }
  .expertise-example {
    gap: var(--gap-mid);
  }
  .content-wrapper-wrapper {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .our-expertise-in {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .expertise-title-wrapper-parent {
    gap: var(--gap-6xl);
  }
  .effective-ctas,
  .see-how-our {
    font-size: var(--font-size-lgi);
    line-height: 38px;
  }
  .see-how-our {
    line-height: 29px;
  }
  .conversion-optimized-landing-p,
  .explore-a-case {
    font-size: var(--font-size-lgi);
    line-height: 38px;
  }
  .explore-a-case {
    line-height: 29px;
  }
}
