.real-estate-focused-digital {
  width: 839px;
  position: relative;
  line-height: 48px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.mastery-heading-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.directing-the-arrow-upcuate-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.directing-the-arrow-upcuate-wrapper {
  height: 361px;
  width: 507.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
  min-width: 507.1px;
  max-width: 100%;
}
.unlock-the-potential {
  width: 646px;
  position: relative;
  line-height: 48px;
  display: inline-block;
  max-width: 100%;
}
.at-osumare-we {
  align-self: stretch;
  position: relative;
  font-size: var(--h300-bold-size);
  line-height: 36px;
  font-family: var(--body300-rg);
  color: var(--color-darkslategray-100);
}
.mastery-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.m-buttons {
  width: 233px;
  height: 61px;
}
.frame-parent,
.mastery-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.mastery-content-wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  min-width: 476px;
}
.frame-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-20xl-9);
  text-align: left;
}
.mastery-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.peace-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-61xl) var(--padding-117xl-5);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--h400-bold-size);
  color: var(--color-gray-400);
  font-family: var(--h300-bold);
}
@media screen and (max-width: 1200px) {
  .directing-the-arrow-upcuate-icon {
    align-self: stretch;
    width: auto;
  }
  .directing-the-arrow-upcuate-wrapper {
    flex: 1;
  }
  .frame-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .real-estate-focused-digital,
  .unlock-the-potential {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
}
@media screen and (max-width: 750px) {
  .directing-the-arrow-upcuate-wrapper {
    min-width: 100%;
  }
  .mastery-content-wrapper {
    gap: var(--gap-base);
    min-width: 100%;
  }
  .frame-parent {
    gap: var(--gap-xl);
  }
  .mastery-wrapper {
    gap: var(--gap-13xl);
  }
  .peace-button {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    padding-bottom: var(--padding-70xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .at-osumare-we,
  .real-estate-focused-digital,
  .unlock-the-potential {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .mastery-wrapper {
    gap: var(--gap-base);
  }
}
